@import '../../../style/variables.scss';

.button {
    display: block;
    padding: 10px 20px;
    background-color: $button-color;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: $button-hover;
  }
  