@import '../../../style/variables.scss';



.button {
  display: block;
  padding: 13px ;
  background-color: $button-color;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.9em;
  border-radius: 1px;
  transition: background-color 0.3s;

  &.addToCart {
    background-color: $button-color;
    color: white;

    &:hover {
      background-color: $button-hover;
      color: #fff;
    }
  }

  &.removeFromCart {
    background-color: #fff;
    border: solid 1px $border-color;
    color: #000;
    &:hover {
      background-color: #E1E1E1;

    }

  }
}
