.filterContainer {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 17vw;
    margin: auto;
    background: #fff;
  }
  
  .filterGroup {
    margin-bottom: 1rem;
  }
  
  .filterGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .filterGroup select,
  .filterGroup input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 1px;
  }
  
  .priceRange {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .filterActions {
    display: flex;
    justify-content: space-between;
  }
  
  .filterActions button {
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }
  

  .searchBox{
    width: 16vw !important;
    border-radius: 1px !important;
    padding: 12px 10px !important;
  }