$color: #878381;

$title_color: #050505;
$txt_color: #3c3c3c;
$txt_hover: #727272;


$page_bg: #F9F9F9;
$layout_bg : #f0f0f0;

$border-color : #e0e0e0;

$button-color : #101010;
$button-hover: #2A2A2A;




